<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>
  <style>
    h2 {
      margin-top: 1em;
    }

    body {
      height: 100vh;
      width: 100vw;
    }
  </style>
  {% block head %} {% endblock %}
</head>

<body>
  <div class="d-flex flex-column h-100">
    <header class="p-3">
      <nav class="navbar navbar-expand-lg navbar-light bg-light m-0 p-0">
        <div class="container-fluid m-0 p-0">
          <!-- Logo on the left -->
          <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="https://danlooo.github.io/DGGS.jl/dev/icon.drawio.svg" alt="Logo" width="32" height="32"
              class="me-2" />
            DGGS Explorer
          </a>
          <!-- Menu items on the right -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
            aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/collections?f=html">Collections</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/docs">API</a>
              </li>

              <li class="nav-item d-flex align-items-center">
                <a class="nav-link px-1" href="https://github.com/danlooo/DGGS.jl" target="_blank" aria-label="GitHub">
                  DGGS.jl
                  <img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/github.svg" alt="GitHub" width="20"
                    height="20" style="vertical-align: middle" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <hr />
    </header>
    {% block body %} {% endblock %}
  </div>
</body>

</html>